* {
    box-sizing: border-box;
}

body {
    background-color: #131b20;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

#title {
    background-color: #b0f4ff;
    padding: 5px 15px;
    border-radius: 10px;
}

.addbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.addbox button {
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: 0.3s ease;
    color: white;
    font-weight: 500;
    flex: 1;
    background-color: #aea60b;
}

.addbox button:hover {
    transform: scale(0.98);
}

.notes {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
    flex-wrap: wrap;
}

.note {
    padding: 1rem;
    border-radius: 10px;
    background-color: #131b20;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 1px solid #4d4d4d;
    max-width: 30%;
    justify-content: space-between;
    gap: 1rem;
}

.note p {
    min-width: 0;
    overflow-wrap: break-word;
    color: grey;
}

.fa-trash {
    color: red;
    font-size: 1rem;
    transition: 0.3s ease;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    align-self: flex-end;
}

.note:hover .fa-trash {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.fa-trash:hover {
    color: orange;
}

@media (max-width: 768px) {
    main {
        gap: 0.5rem;
    }

    .notes {
        gap: 0.5rem;
        padding: 0.3rem;
        align-items: center;
        justify-content: center;
    }

    .note {
        max-width: 45%;
        padding: 0.3rem;
    }

    #title {
        font-size: 1.5rem;
    }

    .fa-trash {
        opacity: 1;
        visibility: visible;
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    #addbtn {
        font-size: 1rem;
    }
}