body {
    background-color: #ffffce;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#title {
    background-color: #b0f4ff;
    padding: 5px 15px;
    border-radius: 10px;
}

.addremove {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.addremove button {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: 0.3s ease;
    color: white;
    font-weight: 500;
}

.addremove button:hover {
    transform: scale(1.1);
}

#addbtn {
    background-color: green;
}

#rmbtn {
    background-color: red;
}